<template>
  <!----<Filters
    dynamicHeight="34"
    :searchVisible="true"
    :filterDateVisible="false"
    :labelVisible="false"
    pathEndPoint="projects"
  />-->
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="todo-list onboarding-main-scroll standard-scroll">
      <!-- Place your elements here -->

      <!---
  <div class="row q-ma-sm" id="filtersAndPagination">
    <div class="q-ma-sm">Filters:</div>
    <Filters
      dynamicHeight="34"
      :searchVisible="true"
      :filterDateVisible="false"
      :labelVisible="false"
      pathEndPoint="projects"
    />
    <div class="col"></div>
  </div>
-->
      <div class="flex full-width justify-between q-my-sm q-pa-md">
        <div class="flex items-center">
          <q-btn
            class="q-btn-item"
            flat
            round
            dense
            icon="arrow_back"
            @click="goBack"
          />
          <div class="text-teal text-h5 text-bold q-ml-sm">
            Create a New Task
          </div>
        </div>
      </div>

      <h6 class="text-22 text-semibold q-my-none q-ml-lg">
        Task Title <span class="text-red">*</span>
      </h6>

      <div class="q-pr-xl q-ml-lg">
        <q-input
          dense
          borderless
          placeholder="Task Name"
          :rules="[(val) => (val !== null && val !== '') || '']"
          hide-bottom-space
          class="onboarding-input-field standard onboarding-border-accent-0 onboarding-border-radius-10"
        />
      </div>

      <div
        class="onboarding-border-accent-0 onboarding-border-radius-10 q-ml-lg q-px-md q-py-xs q-mt-md standard-form-width"
      >
        <q-expansion-item dense expand-separator label="To-Do List">
          <template v-slot:header="{ expanded }">
            <div style="margin-left: 10rem"></div>
            <q-item-section v-if="!expanded" side @click.stop></q-item-section>
            <q-item-section v-else side @click.stop>
              <q-btn
                flat
                dense
                class="delete_button onboarding-buttontext-grey q-pa-none"
                size="10px"
                color="teal"
                icon="iconfont icon-delete-fill"
                @click="
                  route.params.id ? openDialog(index) : removeKeyResult(index)
                "
              />
            </q-item-section>
          </template>
          <div class="q-pr-xl q-ml-lg"></div>
          <div class="flex justify-between items-center q-mb-sm">
            <div class="q-item__label label key_result text-weight-bold">
              Task Name: <span class="text-red">*</span>
            </div>
            <!-- Content here -->
          </div>

          <label
            class="q-field row no-wrap items-start q-field--borderless q-input q-field--dense onboarding-input-field onboarding-border-accent-0 onboarding-border-radius-10"
          >
            <div class="q-field__inner relative-position col self-stretch">
              <div
                class="q-field__control relative-position row no-wrap"
                tabindex="-1"
              >
                <div
                  class="q-field__control-container col relative-position row no-wrap q-anchor--skip"
                >
                  <input
                    class="q-field__native q-placeholder"
                    tabindex="0"
                    placeholder="Account Type."
                    type="text"
                  />
                  <!-- Additional input configuration if needed -->
                </div>
              </div>
            </div>
          </label>

          <div class="q-pr-xl q-ml-lg q-mt-lg"></div>
          <div class="q-item__label label text-weight-bold q-mb-sm">Time</div>
          <label
            class="q-field row no-wrap items-start q-field--borderless q-input q-field--dense onboarding-input-field onboarding-border-accent-0 onboarding-border-radius-10"
          >
            <div class="q-field__inner relative-position col self-stretch">
              <div
                class="q-field__control relative-position row no-wrap"
                tabindex="-1"
              >
                <div
                  class="q-field__control-container col relative-position row no-wrap q-anchor--skip"
                >
                  <div class="q-field__native row items-center">
                    <q-input
                      type="search"
                      dense
                      v-model="time"
                      borderless
                      hide
                      hide-bottom-space
                      :rules="[(val) => (val !== null && val !== '') || '']"
                      placeholder="00:00"
                    >
                      <template v-slot:append>
                        <q-icon
                          class="clock-icon text-teal"
                          name="access_time_filled"
                          @click="toggleTimeInput"
                        />
                      </template>
                    </q-input>
                  </div>
                </div>
                <div
                  class="q-field__append q-field__marginal row no-wrap items-center q-anchor--skip"
                ></div>
              </div>
            </div>
          </label>
        </q-expansion-item>
      </div>
      <div
        v-if="showTimeInput"
        class="onboarding-border-radius-15 flex justify-center standard-form-width q-my-sm q-pa-md q-ml-lg"
      >
        <q-time
          class="standard-form-width onboarding-border-accent-0 onboarding-boarder-radius-10"
          color="teal"
          v-model="time"
          mask=" HH:mm A"
        />
      </div>
      <div
        style="border: 1px dashed #869ab2"
        class="onboarding-border-radius-15 flex justify-center standard-form-width q-my-sm q-pa-md q-ml-lg"
      >
        <q-btn
          flat
          round
          class="onboarding-bg-accent-0 text-white onboarding-text-accent-1"
          id="generateKeyInput"
          @click="addKeyResult()"
          no-caps
          icon="add"
        />
      </div>
      <div class="row q-gutter-md q-pl-lg">
        <q-btn
          rounded
          dense
          flat
          no-caps
          label="Cancel"
          class="onboarding-border-accent-0 onboarding-bg-hover-accent-0 q-px-xl"
          @click="$router.go(-1)"
        />
        <q-btn
          rounded
          dense
          flat
          no-caps
          label="Save"
          class="onboarding-border-accent-0 text-white onboarding-bg-accent-0 q-px-xl"
          type="submit"
        />
      </div>
    </div>
  </transition>
</template>
<style lang="scss" scope>
@import url("./styles/TodoList.scss");
</style>

<script src="./scripts/TodoList.js"></script>
